@font-face {
  font-family: "PT Sans";
  src: url(../googlefonts/PTSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg-color: #252529;
  --main-txt-color: #fff;
  --main-font-family: "PT Sans", sans-serif;
  --header-bg-color: #333;
  --header-txt-color: #eee;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);
  margin: 0;
  color: var(--main-txt-color);
}

.header-nav a {
  color: var(--header-txt-color);
}

.header-nav {
  background-color: var(--header-bg-color);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  display: block;
  padding: 20px;
  border-right: 1px solid #f4f4f4;
  font-size: calc(11px + 0.8vw);
}

.header-nav li a:hover {
  background-color: #444;
}

.header-nav .logo {
  text-decoration: none;
  padding: 10px 20px;
  font-size: calc(16px + 0.8vw);
  display: block;
  float: left;
}

.header-nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
