@use "../abstracts/" as *;

/* Navigation */
nav {
  height: 40px;
  width: 100%;
  background-color: clr("neutral", 700);
  color: clr("neutral", 200);
  position: fixed;

  & ul {
    padding: 0;
    margin: 0;
  }

  & li {
    display: inline;
    float: left;

    &:hover {
      background-color: clr("neutral", 400);
    }
  }

  & a {
    display: inline-block;
    width: 110px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;

    &#openup {
      display: none;
    }
  }
}
