@use "../abstracts/" as *;

/* Showcase */
#showcase {
  margin: 0;
  padding: 0;
  background-image: url("../img/showcase_keyboard_big.jpg"),
    radial-gradient(rgb(201, 193, 193), #111);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: clamp(36rem, 90vh, 55rem);
  position: relative;
  overflow-y: hidden;

  @include maxq("medium") {
    height: clamp(25rem, 55vh, 55rem);
    background-image: url("../img/showcase_keyboard_small.jpg"),
      radial-gradient(rgb(201, 193, 193), #111);
  }

  & .container {
    margin-top: 20vh;

    @include maxq("medium") {
      margin-top: 15vh;
    }
  }

  & h1 {
    font-size: calc(1rem + 0.8vw);
    margin-bottom: 0;
    margin-top: 0;

    font-weight: $fw-700;
  }

  & h2 {
    font-size: 2rem;

    @include maxq("medium") {
      font-size: 1.5rem;
    }
  }

  .main__vac-brief {
    display: none;

    @include maxq("medium") {
      display: block;
    }
  }
}

@media screen and (max-height: 36em) {
  #showcase p.lead {
    display: none;
  }
}
