@use "../abstracts/" as *;

.hero-svg {
  width: 99%;
  max-width: 50rem;
  margin: 4px auto;

  & .svg-main {
    & text {
      font-size: 200%;
      text-anchor: middle;
      fill: #fff;
      transition: transform 250ms linear;
      transform-origin: center;
    }

    &:hover text {
      transform: scale(1.2);
    }

    & ellipse {
      fill: none;
      stroke: #fff;
      transition: transform 250ms linear;
      transform-origin: center;
    }

    &:hover ellipse {
      transform: scale(0.95);
      fill: clr("neutral", 700);
      opacity: 0.4;
    }
  }
}
